# Persisted aliases; other aliases can be found in ~/.aliases
 
alias cd..='cd ../'                            # Go back 1 directory level
alias ..='cd ../'                              # Go back 1 directory level
alias ...='cd ../../'                          # Go back 2 directory levels
alias .3='cd ../../../'                        # Go back 3 directory levels
alias .4='cd ../../../../'                     # Go back 4 directory levels

alias de='deactivate'

alias ls='ls --color=always -1F'
alias ll='ls -la'
alias noise='play -c 2 -n synth pinknoise mix synth sine amod 0.07 90 band -n 2000 1q vol 0.9'

alias grep='grep --color=always'
