# Custom aliases
 
alias cd..='cd ../'                            # Go back 1 directory level
alias ..='cd ../'                              # Go back 1 directory level
alias ...='cd ../../'                          # Go back 2 directory levels
alias .3='cd ../../../'                        # Go back 3 directory levels
alias .4='cd ../../../../'                     # Go back 4 directory levels

alias de='deactivate'

alias ls='ls --color=always -1F'
alias ll='ls -la'

# Extra aliases that are not logged onto git might be found in ~/.aliases
